<div class="main-content">
        <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
        [speed]="200" [showSpinner]="true" [direction]="'rightToLeftIncreased'"
        [color]="'green'" [trickleSpeed]="250000" [thick]="true" [ease]="'linear'"
    ></ng-progress>
    <div class="container-fluid">
        <!-- <div class="row"> -->
            
            
            <!-- <div class="col-md-0">

            </div> -->
            <div class=""    >
                <br>
                <br>
              
                
                            <div  class=" flip-card">
                                    <div class="flip-card-inner">
                                            <div class="flip-card-front ">
                                              <img src="assets/222.jpg" alt="Avatar" style="width:100%;height:300px;">
                                              <h2 class="card-category .text-left  text-gray">Infocuit Technologies </h2>
                      
                                            </div>
                                            <div class="flip-card-back">
                    
                                    <div class=" dei card card-profile ">
                                        <div class="card-avatar">
                                            <a>
                                                <img class="img" s src="./assets/cheff.jpg" />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                             <h6 class="text-danger " style="color:red; font-size: 130%" >Infocuit Technologies </h6>
                                            <!--<h4 class="card-title">Alec Thompson</h4> -->
                                            <div class="card-body">
                                              <form>
                                                 
                                                      
                                                      
                                                      <div class="form-group">
                                                          <!-- <label style="color:black" class="floatright" >branch Id</label> -->
                                                          <label style="float: left;color:red"  for="fname">Branch Id</label>
                                                            <input class="form-control text" name="user" placeholder=""  [(ngModel)]="login.user">
                                                          
                                                      </div>
                                                      <div class="form-group">
                                                        <!-- <label style="color:black" class="floatright" >branch Id</label> -->
                                                        <label style="float: left;color:red" for="fname">Phone Number</label>
                                                          <input class="form-control Number" type="number" name="user1" placeholder=""  [(ngModel)]="login.phone">
                                                        
                                                    </div>
                                                 
                                                      
                                                      <div class="form-group">
                                                            <!-- <label>password</label> -->
                                                            <label style="float: left;color:red" for="fname">password</label>
                                                            <input class="form-control text" name="p" placeholder="" [(ngModel)]="login.passwor" type="password">
                                                         
                                                      </div>  
                                      
                                                 
                                               
                                                  <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="btnClick();">OK</button> -->
                                                  
                                                  <!-- <input type="file"> -->
                                                  <div class="clearfix"></div>
                                              </form>
                                          </div>
                                            
                                            <a  class="btn btn-danger btn-round" (click)="btnClick(login)" >sign in</a>
                                            <!-- <div *ngIf="check">
                                                DIV TO SHOW OR HIDE
                                              </div>
                                              <div *ngIf="check1">
                                                DIV TO SHOW OR HIDE
                                              </div> -->
                                        </div>
                                    </div>
                                    </div>
                               
                  
                   
                </div>
                <!-- <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/sev.png" alt="Avatar" style="width:300px;height:300px;">
                        <h6 class="card-category text-gray">Infocuit Techonologies</h6>

                      </div>
                      <div class="flip-card-back">
                        <h1>John Doe</h1> 
                        <p>Architect & Engineer</p> 
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div> -->
                
                <!-- <div class="">
                    <div class="card card-profile ">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="./assets/img/faces/marc.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                            <h4 class="card-title">Alec Thompson</h4>
                            <div class="card-body">
                              <form>
                                 
                                      
                                      
                                      <div class="">
                                          
                                            <input class="form-control" placeholder="Username">
                                          
                                      </div>
                                      <div class="">
                                        
                                            <input class="form-control" placeholder="Email address" type="email">
                                         
                                      </div>
                      
                                 
                               
                                  <button mat-raised-button type="submit" class="btn btn-danger pull-right">OK</button>
                                  <div class="clearfix"></div>
                              </form>
                          </div>
                            
                            <a href="#pablo" class="btn btn-danger btn-round">sign up</a>
                        </div>
                    </div>
                </div> -->
           
            <!-- <div class="col-md-0">
                

            </div> -->
        </div>
    </div>
</div>
</div>
  <!-- </div> -->

  
  